.table__cell,
.table__cell--header {
  border: 1px solid rgb(190, 190, 190);
  padding: 10px 20px;
}

.table__cell {
  text-align: left;

  &:nth-of-type(2n + 2) {
    width: 45%;
  }
  &:nth-of-type(2n + 3) {
    width: 45%;
  }
  &--header {
    background-color: $red;
    color: $white !important;
    font-weight: 500;
    text-align: center;
    text-transform: none !important;
  }
}

.table__row {
  &:nth-child(even) .table__cell {
    background-color: rgb(250, 250, 250);
  }
  &:nth-child(odd) .table__cell:not(th) {
    background-color: rgb(226, 226, 226);
  }
}

caption {
  padding: 10px;
  caption-side: bottom;
  color: grey;
}

.table {
  display: table;
  position: relative;
  vertical-align: center;
  max-width: 80%;
  font-size: 0.9rem;
  color: $black;
  line-height: 1;
  border-collapse: collapse;
}

.table--image {
  margin: 0 auto;
  opacity: 0.8;
}

.item-list--table {
  &:not(:last-of-type) {
    margin-bottom: 8px;
    line-height: 1.2;
  }
  &::before {
    content: "";
    width: 8px;
    height: 8px;
    margin-right: 1rem;
  }
}

.table__cell--term {
  color: $red;
  font-weight: 500;
  text-transform: uppercase;
}

.kolb-styles--header {
  position: sticky;
  top: 0px;
}

.type {
  width: auto;
}

.score {
  width: 30%;
  font-style: italic;
}

.level {
  width: 50%;
  font-style: italic;
}
