block variables

doctype
html(lang='en-EN')

  head
    include ../modules/head.pug
    append head
      title Andros - Adult Learning and Adult Learners
      meta(name="keywords", content = 'adult learning')

  body.page-body

  block header
    include ../modules/header.pug

  block main

  block footer
    include ../modules/footer.pug

  script(src="/js/main.js")
