-
  var articles = [
    {
      id: '01',
      link: 'andragogy.html',
      suffix: 'andragogy',
      pageClass: 'andragogy-page',
      title: 'What is Andragogy - Adult Learning and Adult Learners',
      subTitle: 'Learn for better Learning',
      fullTitle: 'Andragogy - Adult Learning Science',
      listedTitle: 'Adult Learning science',
      listedExcerpt: 'Andragogy in Greek means man-leading. What is it for and how can we benefit from it?',
      introText: 'The term andragogy can be supposedly equivalent to the term pedagogy. Andragogy in Greek means man-leading in comparison to pedagogy, which in Greek means child-leading. However, it should be noted that the term pedagogy has been used since the Ancient Greek times, while andragogy was introduced only in 19th century. What is it for and how can we benefit from Adult Learning science?',
      keyword: 'andragogy',
      refs: [{
          title: 'Andragogy in Wikipedia',
          link: 'https://en.wikipedia.org/wiki/Andragogy',
        },
        {
          title: 'What Is The Difference Between Pedagogy, Andragogy, And Heutagogy?',
          link: 'https://www.teachthought.com/pedagogy/andragogy/',
        },
        {
          title: 'The Adult Learning Theory - Andragogy - of Malcolm Knowles',
          link: 'https://elearningindustry.com/the-adult-learning-theory-andragogy-of-malcolm-knowles',
        },
      ],
    },
    {
      id: '02',
      link: 'adult-learner.html',
      suffix: 'learner',
      pageClass: 'learner-page',
      title: 'Who is Adult Learner - Adult Learning and Adult Learners',
      subTitle: 'Learn for better Learning',
      fullTitle: 'Who is Adult Learner',
      listedTitle: 'Who is Adult Learner',
      listedExcerpt: 'Knowles defined andragogy as "the art and science of helping adults learn". So who are these adult learners?',
      introText: 'The essential meaning of the concept of andragogy has to do with adults. The Greek, ander (genitive andros), means "man", while agein means "to lead"; so andragogy means "leading men," which can be paraphrased as "leading adults". Knowles defined andragogy as "the art and science of helping adults learn". So who are these adult learners?',
      keyword: 'adult learner',
      refs: [{
          title: '9 Tips To Apply Adult Learning Theory to eLearning',
          link: 'https://elearningindustry.com/9-tips-apply-adult-learning-theory-to-elearning',
        },
        {
          title: '8 Important Characteristics Of Adult Learners',
          link: 'https://elearningindustry.com/8-important-characteristics-of-adult-learners',
        },
        {
          title: 'Learn more about Malcolm Knowles',
          link: 'https://infed.org/malcolm-knowles-informal-adult-education-self-direction-and-andragogy/',
        },
      ],
    },
    {
      id: '03',
      link: 'learn-models.html',
      suffix: 'lmodels',
      pageClass: 'lmodels-page',
      title: 'Learning Models - Adult Learning and Adult Learners',
      subTitle: 'Learn for better Learning',
      fullTitle: 'Learning Models',
      listedTitle: 'Learning models',
      listedExcerpt: 'Have a look at those sets of principles that explain how we best absorb, process and retain information over time.',
      introText: 'Learning models and theories are sets of principles that explain how we best absorb, process and retain information over time. Understanding this process helps us to design effective learning experiences. Better still, some learning models provide us with practical frameworks that we can use as a template for success. They are the kind of models that fundamentally alter the way we think about and approach learning and development. Do not just read about them - try to reflect on it and implement it in the future.',
      keyword: 'learning models',
      refs: [{
          title: 'Game-Based Learning And Adult Learning Styles',
          link: 'https://elearningindustry.com/game-based-learning-and-adult-learning-styles',
        },
        {
          title: 'How sketching really helps in a Learning circle?',
          link: 'https://www.verbaltovisual.com/sketchnoting-for-experiential-learners-vtv-episode-16/',
        },
        {
          title: 'Experiential Learning Model by Penso a Te APS',
          link: 'https://pensoate.org/experiential-learning/',
        },
      ],
    },
    {
      id: '04',
      link: 'kolb-stages.html',
      suffix: 'kolb',
      pageClass: 'kolb-page',
      title: 'Kolb and his 4 stages - Adult Learning and Adult Learners',
      subTitle: 'Learn for better Learning',
      fullTitle: 'Kolb and his 4 stages',
      listedTitle: 'Kolb and his 4 stages',
      listedExcerpt: `Kolb's experiential learning theory works on two levels: a four stage cycle of learning and four separate learning styles.`,
      introText: `David Kolb published his learning styles model in 1984 from which he developed his learning style inventory. Kolb's experiential learning theory works on two levels: a four stage cycle of learning and four separate learning styles. Much of Kolb's theory is concerned with the learner's internal cognitive processes. Kolb states that learning involves the acquisition of abstract concepts that can be applied flexibly in a range of situations: "Learning is the process whereby knowledge is created through the transformation of experience". How can we make use of it? Just by experiencing it...`,
      keyword: 'kolb stages',
      refs: [{
          title: 'Game-Based Learning And Adult Learning Styles',
          link: 'https://elearningindustry.com/game-based-learning-and-adult-learning-styles',
        },
        {
          title: 'Experiential Learning Cycles',
          link: 'https://www.edbatista.com/2007/10/experiential.html',
        },
        {
          title: 'Experiential Learning Model by Penso a Te APS',
          link: 'https://pensoate.org/experiential-learning/',
        },
      ],
    },
    {
      id: '05',
      link: 'learn-factors.html',
      suffix: 'success',
      pageClass: 'success-page',
      title: 'Success Factors and Barriers - Adult Learning and Adult Learners',
      subTitle: 'Learn for better Learning',
      fullTitle: 'Success factors and barriers',
      listedTitle: 'Success factors and barriers',
      listedExcerpt: 'Let us see what mainly affects the performance of an Adult Learner and how it can be overcome/managed with...',
      introText: `Adults are uniquely motivated to learn and develop skills at work and in life. They bring signifcant insights, experiences, and connections from prior learning to new learning opportunities. It is critical to center adults' unique backgrounds, such as motivations, prior schooling experiences, and linguistic and cultural resources, at the foundation of optimal learning process. Let us see what mainly affects the performance of an Adult Learner and how it can be overcome / managed with...`,
      keyword: 'learning factors',
      refs: [{
          title: 'How sketching really helps in a Learning circle',
          link: 'https://www.verbaltovisual.com/sketchnoting-for-experiential-learners-vtv-episode-16/',
        },
        {
          title: 'Experiential Learning Model by Penso a Te APS',
          link: 'https://pensoate.org/experiential-learning/',
        }
      ]
    },
    {
      id: '06',
      link: 'microlearning.html',
      suffix: 'micro',
      pageClass: 'micro-page',
      title: 'Microlearning - Adult Learning and Adult Learners',
      subTitle: 'Learn for better Learning',
      fullTitle: 'Microlearning',
      listedTitle: 'Microlearning - small and mighty',
      listedExcerpt: 'It is a way of teaching and training in ways that take little time but ultimately reach the intended goal. How so?',
      introText: `Microlearning is a way of teaching and training in ways that take little time but ultimately reach the intended goal. This new approach to learning, which has been tailored to the demands and habits of today's people, has proven to be more engaging, efficient, and cost-effective. But what exactly is microlearning? Ready to find out what it takes? Let's dive right in!`,
      keyword: 'microlearning',
      refs: [{
          title: 'The need for mobile speed',
          link: 'https://www.blog.google/products/admanager/the-need-for-mobile-speed/',
        },
        {
          title: 'Ask a Neuroscientist: Why is thinking hard so hard?',
          link: 'https://neuroscience.stanford.edu/news/ask-neuroscientist-why-thinking-hard-so-hard',
        },
        {
          title: 'The Definitive Guide to Microlearning',
          link: 'https://www.valamis.com/hub/microlearning',
        },
      ],
    },
  ];
