-
  var tags = [
    {
      name: 'Androgogy',
      link: 'andragogy.html#01'
    },
    {
      name: 'Knowles',
      link: 'andragogy.html#02'
    },
    {
      name: 'Learning principles',
      link: 'andragogy.html#02'
    },
    {
      name: 'Adult Learner',
      link: 'adult-learner.html#01'
    },
    {
      name: 'Life Span Development',
      link: 'adult-learner.html#02'
    },
    {
      name: 'Pedagogy',
      link: 'andragogy.html#03'
    },
    {
      name: 'Supportive environment',
      link: 'learn-factors.html#02'
    },
    {
      name: 'Adverse Experience',
      link: 'learn-factors.html#02'
    },
    {
      name: 'Neuroscience on learning',
      link: 'learn-factors.html#03'
    },
    {
      name: 'Experiential Learning Cycle',
      link: 'kolb-stages.html#01'
    },
    {
      name: `Kolb's Learning styles`,
      link: 'kolb-stages.html#02'
    },
    {
      name: 'Activist',
      link: 'questionaire.html#style_act'
    },
    {
      name: 'Theorist',
      link: 'questionaire.html#style_the'
    },
    {
      name: 'Reflector',
      link: 'questionaire.html#style_ref'
    },
    {
      name: 'Pragmatist',
      link: 'questionaire.html#style_pra'
    },
    {
      name: '4MAT',
      link: 'kolb-stages.html#03'
    },
    {
      name: 'Ebbinghaus Forgetting Curve',
      link: 'microlearning.html#01'
    },
    {
      name: 'Workflow Model',
      link: 'microlearning.html#02'
    },
    {
      name: 'Microlearning practices',
      link: 'microlearning.html#03'
    },
    {
      name: 'Microlearning examples',
      link: 'microlearning.html#04'
    },
  ]
