.article-list
  .more-block__title.section__title
    p.subtitle Continue to read
    h2.title Other articles
  ul#article-list

  template#article-item
    li
      a.item-list.item-list--link(href="#") Text
