section.contents#contents
  h4.contents__title Contents
  ul.contents__list
    li
      a.contents__link.item-list(href="#01") Roots of Andragogy
    li
      a.contents__link.item-list(href="#02") Learning theories
    li
      a.contents__link.item-list(href="#03") Adult Learning principles
    li
      a.contents__link.item-list(href="#04") Differences from Pedagogy
    li
      a.contents__link.item-list(href="#05") References
