.article-list
  .more-block__title.section__title
    p.subtitle Continue to read
    h2.title Other articles
  ul
    li
      a.item-list.item-list--link(href="adult-learner.html") Who is Adult Learner
    li
      a.item-list.item-list--link(href="learn-models.html") Learning models
    li
      a.item-list.item-list--link(href="kolb-stages.html") Kolb and his 4 stages
