.more-block__title.section__title.more-block__title--full
  p.subtitle Continue
  h2.title What is next

.more-block__buttons
  a.button(href="index.html#articles") Learn
  a.button(href="index.html#quotes") Inspire
  a.button(href=pageClass === "research-page" ? "test.html" : "research.html")=pageClass === "research-page" ? 'Test' : 'Share'
